html{
    font-family: 'Averia Serif Libre', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container {
    margin: 3rem auto;
    width: 80%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 500px 1fr;
    gap: 10px;
    grid-template-areas:
    "header header"
    "joke gif"
    "btn btn";
    align-items: center;
    
    
}

header{
    grid-area: header;
    text-align: center;
}
.dad-joke-container{
  grid-area: joke;
    padding: 0 1rem;
    font-size: 1.5rem;
    
}

.gif-container{
    grid-area: gif;
    overflow: hidden;
}

.gif-container img{
    max-width: 100%;
    /* height: 100%; */
}

.button{
    grid-area: btn;
    text-align: center;
    width: 100%;

}
button{
    cursor: pointer;
    font-family: inherit;
    font-size: 2rem;
    padding: 0.5rem 2rem;
    justify-self: center;
    background-color: #60a3bc;
    border: none;
}

button:hover{
    transform: scale(0.98);
}

button:focus{
    outline: none;
}

@media (max-width: 600px) {
    .dad-joke-container{
        grid-area: joke;
          padding: 0 1rem;
          font-size: 1rem;
    }
  }